HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Competition files
/competition/docker-compose.yml
/competition/INSTRUCOES.md
/competition/requests.js
/competition/rinha.js
/competition/rinha-de-backend-2025_INSTRUCOES.md at main · zanfranceschi_rinha-de-backend-2025.pdf
